sudo: false
language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4"

# Make sure we have new npm on Node 0.10.
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - '[ "${TRAVIS_NODE_VERSION}" != "0.10" ] || npm install -g npm'
  - npm config set loglevel warn

before_script:
  - npm install -g grunt-cli

script:
  - grunt
